/* 
    Grid
*/

.container {
    display: grid;
    grid-template-rows: 0.5fr 4fr 0.5fr;
}

/*
    Header and Footer
*/

.header__main {
    margin: 0px;
    padding: 45px;
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
}

.logo__img {
    width: 380px;
}

.logo__img:hover {
    filter: opacity(0.8) drop-shadow(0 0 0 #e4e404);
    -webkit-filter: opacity(0.8) drop-shadow(0 0 0 #e4e404);
}

.social-media {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.social-media__link {
    color: #FFF;
    font-size: 40px;
    position: relative;
}

.social-media__link:hover {
    color: #f8f8c0;
}

.footer__main {
    margin: 0px;
    padding: 45px;
    background-color: #616161;
    color: white;
    width: 100%;
    height: 100%;
    display: block;
}

.footer__title {
    display: block;
    padding: 0px 0px 10px 0px;
    color: #e4e2e2;
}

.footer__text {
    display: block;   
    padding: 0px 0px 20px 0px;
}

/*
    Main Page
*/

.background-page{
    background-color: #26292b;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.content-page {
    background-color: #dbdbdb;
    position: relative;
    width: 75%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-rows: 1fr;
}

.content-categories {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 6fr;
    gap: 20px;
    padding: 20px;
    background-color: #202020;
}

.content-article{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.content-title {
    background-color: #313131;
    padding: 30px;
    display: grid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 500px;
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    transition: background-color 0.4s, box-shadow 0.4s;
    -webkit-transition: background-color 0.4s, box-shadow 0.4s;
    -moz-transition: background-color 0.4s, box-shadow 0.4s;
    -ms-transition: background-color 0.4s, box-shadow 0.4s;
    -o-transition: background-color 0.4s, box-shadow 0.4s;
}

.content-title--title {
    color: white;
    font-size: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
    text-align: center;
}

.content-title:hover {
    background-color: #464545;
    box-shadow: inset 0px 0px 100px 2px #000000;
}

.article {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: box-shadow 0.5s, border-radius 0.5s;
    -webkit-transition: box-shadow 0.5s, border-radius 0.5s;
    -moz-transition: box-shadow 0.5s, border-radius 0.5s;
    -ms-transition: box-shadow 0.5s, border-radius 0.5s;
    -o-transition: box-shadow 0.5s, border-radius 0.5s;
}

.article:hover {
    box-shadow: inset 0px 0px 100px 2px #000000;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.article:hover > .article__text > .article__text--title {
    color: #ebebeb;
    background-color: #5b2269;
}

.article:hover > .article__text > .article__text--text {
    color: #ebebeb;
    background-color: #111111;
}

.article__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

.article__text--title {
    color: #FFF;
    background-color: #33173a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
    font-size: 25px;
    font-weight: bold;
    width: max-content;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}

.article__text--text {
    color: #FFF;
    background-color: #3a3a3a;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px;
    font-size: 20px;
    width: fit-content;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
}

@media screen and (max-width: 1160px) {
    .content-article {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .content-article {
        grid-template-columns: repeat(1, 1fr);
    }
}