/*
    Header and Footer
*/

.main__header {
    margin: 0px;
    padding: 45px;
    background-color: #1b1b1b;
    width: 100vw;
    height: 140px;
    display: block;
}

.main__header-a {
    padding-right: 90px;
}

.main__header-a-img {
    width: 380px;
}

.main__header-nav-li-a{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-right: 50px;
    transition: font-size 0.2s;
}

.main__header-nav-li-a:hover{
    color: #f8f8c0;
    font-size: 45px;
}

.main__footer {
    margin: 0px;
    padding: 45px;
    background-color: #616161;
    color: white;
    width: 100vw;
    height: 200px;
    display: block;
}

.main__footer-h3 {
    display: block;
    padding: 0px 0px 10px 0px;
    color: #e4e2e2;
}

.main__footer-p {
    display: block;   
    padding: 0px 0px 20px 0px;
}

/*
    Main Page
*/

